@model DancingGoat.Models.CafesViewModel

@{
    ViewBag.Title = Resources.DancingGoat.Cafes;
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    @Scripts.Render("~/Scripts/map.js")
}

<h2 class="map-title">@Resources.DancingGoat.Cafes_MapTitle</h2>
<div class="map js-map"></div>

<h2>@Resources.DancingGoat.FavoriteCafes</h2>
<div class="row">
    @Html.DisplayFor(vm => vm.CompanyCafes, new { ShowImage = true })
</div>