@model DancingGoat.Models.FactAboutUs

<aside class="info-tip">
    <div class="did-you-know">Did you know?</div>
    <div>
        <strong>@Html.DisplayFor(vm => vm.Title)</strong>
        @Html.DisplayFor(vm => vm.Description)
    </div>
</aside>